*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(194, 110, 42);
    color: white;
    height: 35px;
    padding-top: 15px;
}

#search{
    float: right;
    margin-right: 20px

}

nav div{
    float:left;
}

#menu ul li{
    display: inline;
    margin: 10px 25px;
    text-transform: uppercase;
}

#submit_button{
    background-color: black;
    color: white;
    border: none;
    padding:6px 20px;
    font-size: 12px;
}

#submit_button:hover{
    background-color: bisque;
}

#search_box{
    border: 1px solid #cfcfcf;
    padding: 3px;
}

#content{
    padding: 20px;
    height: 400px;
}

#left_bar{
    width: 78%;
    min-height: 400px;
    background-color: #f2f2f2;
    margin-right: 10px;
    float: left;
}

#right_bar{
    width: 20%;
    background-color: rgb(194, 110, 42);
    min-height: 400px;
    float: right;
}

.left_bar_content{
    padding: 10px;
}

.article_header{
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

p{
    font-family: Garamond, serif;
    color: #444;
    padding: 10px 0;
}

h2{
    font-family: 'Brush Script MT', cursive;
}

#right_bar h1{
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    padding-top: 10px; 
}

#right_bar ul li{
    padding: 10px 0;
    font-size: 13px;
}

#right_bar ul{
    padding-left: 30px;
}

footer{
    padding: 10px 20px;
    background-color: rgb(194, 110, 42);
}

footer p{
    color: white;
}


/* 
    p{
        background-color: red;
        padding: 10px;
        margin: 10px;
        border: 2px solid green;
        outline: 10px solid blue;
    } 
*/